<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.shoppingmall.buy.BuyMapper">

    <insert id="insBuy" useGeneratedKeys="true" keyProperty="ibuy">
        insert into t_buy
        set iproduct=#{iproduct}
        ,icustomer=#{icustomer}
        ,quantity=#{quantity}
    </insert>

    <select id="findBuylist">
        SELECT A.ibuy,A.iproduct,C.nm ,C.price
        ,C.main_pic,B.icuetomer,B.nm cnm,A.quantity,A.buy_at
        FROM t_buy A
        INNER JOIN t_customer B
        ON A.icustomer=B.icuetomer
        INNER JOIN t_product C
        ON A.iproduct=C.iproduct
        WHERE B.icuetomer =#{icuestomer}
        order by A.buy_at desc
    </select>



</mapper>